h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 0 0 1.5em;
}

div.content {
    margin:1em;
}

c {
    width:100%;
}

textarea {
    box-sizing: border-box
    width: 100%;
}

a.wikilink-new {
    color: red;
}
